@font-face {
  font-family: "Halvar Breit Lt";
  src: local("Halvar Breitschrift Light"), local("HalvarBreit-Lt"),
    url("../fonts/HalvarBreit-Lt.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Halvar Breit Md";
  src: local("Halvar Breitschrift Medium"), local("HalvarBreit-Md"),
    url("../fonts/HalvarBreit-Md.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Halvar Breit Blk";
  src: local("Halvar Breitschrift Black"), local("HalvarBreit-Blk"),
    url("../fonts/HalvarBreit-Blk.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Halvar Breit Rg";
  src: local("Halvar Breitschrift Bold"), local("HalvarBreit-Bd"),
    url("../fonts/HalvarBreit-Bd.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Halvar Breit Lt", sans-serif;
}

.height-100vh {
  height: 100vh;
}

.logo {
  position: relative;
  top: 10px;
  margin-left: 10px;
}

.first-section {
  height: 100vh;
  background: url("../img/mpark.jpg") no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 1.5rem;
  position: relative;
  font-family: "Halvar Breit Lt", sans-serif;
}

.first-section .secondary {
  color: #f77737;
}

.first-section .bg-fon {
  background-color: rgba(0, 0, 0, 0.45);
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.first-section .secondary {
  margin-top: 10px;
  font-size: 1.3rem;
}

.first-section .main-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 10px;
}

.first-section hr {
  background-color: #073590;
  border: none;
  margin: 0 20px;
  height: 35px;
}

.first-section ul {
  margin-top: 30px;
  font-family: "Halvar Breit Lt", sans-serif;
  color: #073590;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.first-section ul li {
  display: inline-block;
}

.second-section .map {
  position: relative;
}

.second-section .form-card {
  position: absolute;
  top: 0;
  height: 100%;
  width: 310px;
}

.second-section {
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: #fafafa;
}

/* label color */
.second-section .input-field label {
  color: #fff;
  font-family: "Halvar Breit Md", sans-serif;
}

.second-section .input-field input[type="checkbox"] + span {
  color: #000;
}

.second-section .input-field input[type="text"]:focus + label {
  color: #fff;
}

.second-section .input-field input[type="text"]:focus {
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff;
}

.second-section .input-field input[type="text"].valid {
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff;
}

.second-section .input-field input[type="text"].invalid {
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff;
}

.second-section .input-field .prefix.active {
  color: #000;
}

.second-section .agreement {
  font-family: "Halvar Breit Md", sans-serif;
  color: #fff;
}

.second-section .agreement a {
  color: #f77737;
}

.third-section {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

@media screen and (max-width: 425px) {
  h3 {
    font-size: 28px;
  }
}
